<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="./index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="white-bg">
        <%for (let i = 0; i < post.length; i++) { %>
            <div class="list-box">
                <h4><%= post[i].title %></h4>
                <p><%= post[i].content %></p>
              </div>
        <% } %>
        
        
      </div> 
</body>
</html>