<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('nav.ejs') %>
    <div class="detail-bg">
        <h4>Id: <%= user.username %></h4>
    </div>  
</body>
</html>